<a href="https://colab.research.google.com/github/Harshaveenakondeti/pyspark/blob/main/pyspark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 45 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 63.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=c9d7043a403e7d7098cae92829c4145a01beb4697dd7e9c4aeb7af908cc93f93
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
from pyspark import SparkContext, SparkConf
#from pyspark.sql import SparkSession
conf=SparkConf().setAppName('first_app')
sc=SparkContext(conf=conf)

In [ ]:
sc

In [ ]:
rdd1=sc.textFile('/content/first_sparktext.txt')

In [ ]:
rdd1.collect()  # action to show output

['This is Apache Spark class and we are learning best big data tool.',
 'This is Apache Spark class and we are learning best big data tool.']

In [ ]:
rdd2 = rdd1.map(lambda x: (x,len(x)))
rdd2.collect()

[('This is Apache Spark class and we are learning best big data tool.', 66),
 ('This is Apache Spark class and we are learning best big data tool.', 66)]

In [ ]:
rdd3= rdd1.map(lambda x : x.split(' '))  # it will be one list only
rdd3.collect()

[['This',
  'is',
  'Apache',
  'Spark',
  'class',
  'and',
  'we',
  'are',
  'learning',
  'best',
  'big',
  'data',
  'tool.'],
 ['This',
  'is',
  'Apache',
  'Spark',
  'class',
  'and',
  'we',
  'are',
  'learning',
  'best',
  'big',
  'data',
  'tool.']]

In [ ]:
rdd4 = sc.textFile('/content/sec_sparktext.txt')
rdd4.collect()

['1,RAM,50047', '2,Veena,50098', '3,herish,50065', '4,kushi,560084']

In [ ]:
rdd5 = rdd4.map(lambda x : x.split(',')[2])
rdd5.collect()

['50047', '50098', '50065', '560084']

In [ ]:
rdd6 = rdd1.flatMap(lambda x:x.split(' '))
rdd6.collect()

['1,RAM,50047', '2,Veena,50098', '3,herish,50065', '4,kushi,560084']

In [ ]:
list1=[(1,'jan,1994'),(2,'feb',1995)]
rdd_convert = sc.parallelize(list1)  # converting list to RDD
rdd_convert.collect()  # action

[(1, 'jan,1994'), (2, 'feb', 1995)]

In [ ]:
list1=[(1,'jan,1994'),(2,'feb',1996)]
list2=[(3,'jan,1998'),(2,'feb',1996)]
list3=[(1,'jan,1991'),(2,'mar',1996)]
rdd1 = sc.parallelize(list1)
rdd2 = sc.parallelize(list2)
rdd3 = sc.parallelize(list3)
res= rdd1.union(rdd2).union(rdd3)  # allow duplicates
res.count()
#res.collect()

6

In [ ]:
res1= rdd1.intersection(rdd2)
res1.collect()

[(2, 'feb', 1996)]

In [ ]:
res2=rdd2.intersection(rdd3)
res2.collect()

[]

In [ ]:
res3= rdd1.intersection(rdd3)
res3.collect()

[]

In [ ]:
list1=[(1,'jan,1994'),(2,'feb',1996),(1,'jan,1994'),(2,'feb',1994)]
rdd1=sc.parallelize(list1)
rdd1.collect()

[(1, 'jan,1994'), (2, 'feb', 1996), (1, 'jan,1994'), (2, 'feb', 1994)]