<a href="https://colab.research.google.com/github/Harshaveenakondeti/pyspark/blob/main/pyspark2_office.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import regex
import numpy as np
import pandas as pd

In [ ]:
str1 = 'hello763258732$&%&^&$'
import re
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [ ]:
for i in str1:
  if((i.isalpha()==False) and (i.isnumeric()==False)):
    print(i)

$
&
%
&
^
&
$

load data into sql

In [ ]:
Using Python version 2.7.5 (default, Nov 16 2020 22:23:17)
SparkSession available as 'spark'.
>>> df1 = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/user/itv199411/first_test.csv")
>>> df1.show()
+---+-------+------+------+----+
| id| area| name| zip| _c4|
+---+-------+------+------+----+
| 1|BLOCK A| RAM|560097|null|
| 2|BLOCK B| RAJ|560091|null|
| 3|BLOCK C| ROHAN|560092|null|
| 4|BLOCK D|RAMESH|560092|null|
| 5|BLOCK E| RAMU|560098|null|
| 6|BLOCK S| Dam|450000|null|
+---+-------+------+------+----+

>>> df1.limit(3).show()
+---+-------+-----+------+----+
| id| area| name| zip| _c4|
+---+-------+-----+------+----+
| 1|BLOCK A| RAM|560097|null|
| 2|BLOCK B| RAJ|560091|null|
| 3|BLOCK C|ROHAN|560092|null|
+---+-------+-----+------+----+

In [ ]:
if(k>="A" and k<="Z" or k>="a" and k<="z"):

In [ ]:
list1 = []
str1 = "helloÃÃ³¶¤©º¤!@#^abcAB123"
for i in str1:
   if((i>='a' and i<='z')):
       print(i)
   elif((i>='A' and i<='Z')):
       print(i)

h
e
l
l
o
a
b
c
A
B

In [ ]:
from sqlalchemy import create_engine

df1 = pd.read_csv("path")
db_connection_str = 'mysql+pymysql://root:password@127.0.0.1/database'
db_connection= create_engine(db_connection_str)
df1.to_sql('tablename',db_connection)
print('data written into table')
print(df1.shape)

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

df1 = pd.read_csv("D:\\Desktop\\spark_dataFrame_PRoject\\spark_dataFrame_PRoject\\olympic_Project\\olympix_data_organized_with_header.csv")
db_connection_str = 'mysql+pymysql://root:12345@127.0.0.1/sakila'
db_connection = create_engine(db_connection_str)
#df1.to_sql("DS_15_data",db_connection)
#print("data written into the table")
print(df1.shape)