<a href="https://colab.research.google.com/github/Harshaveenakondeti/pyspark/blob/main/pyspark2_pracrice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 47 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 44.9 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=f5bcb72ab4e474ac9d068f2bdadba4c2de2e8aafe1aa4baf3053690fb960f1ee
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [ ]:
# initializing pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
conf= SparkConf().setAppName('sec_class')
sc=SparkContext(conf=conf)
spark=SparkSession.builder.appName('Test').getOrCreate()
sqlcontext=SQLContext(sc)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:114: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning,

In [ ]:

from pyspark.sql import functions as f
df = sc.parallelize([("James", "Sales", 3000),
("Michael", "Sales", 4600),
("Robert", "Sales", 4100),
("Maria", "Finance", 3000),
("James", "Sales", 3000),
("Scott", "Finance", 3300),
("Jen", "Finance", 3900),
("Jeff", "Marketing", 3000),
("Kumar", "Marketing", 2000),
("Saif", "Sales", 4100)]).toDF(["employee_name","department",'salary'])

In [ ]:
res1 = df.groupBy('department').agg({'salary':'sum'})
res1.show()

+----------+-----------+
|department|sum(salary)|
+----------+-----------+
|     Sales|      18800|
|   Finance|      10200|
| Marketing|       5000|
+----------+-----------+

In [ ]:
from pyspark.sql.window  import Window
from pyspark.sql.functions import col,avg,sum,min,max,row_number
w=Window.partitionBy('department')
df = df.withColumn('all_sum',sum(col('salary')).over(w))
df.show()

+-------------+----------+------+-------+-------+-------+
|employee_name|department|salary|all_max|all_min|all_sum|
+-------------+----------+------+-------+-------+-------+
|        Maria|   Finance|  3000|   3900|   3000|  10200|
|        Scott|   Finance|  3300|   3900|   3000|  10200|
|          Jen|   Finance|  3900|   3900|   3000|  10200|
|         Jeff| Marketing|  3000|   3000|   2000|   5000|
|        Kumar| Marketing|  2000|   3000|   2000|   5000|
|        James|     Sales|  3000|   4600|   3000|  18800|
|      Michael|     Sales|  4600|   4600|   3000|  18800|
|       Robert|     Sales|  4100|   4600|   3000|  18800|
|        James|     Sales|  3000|   4600|   3000|  18800|
|         Saif|     Sales|  4100|   4600|   3000|  18800|
+-------------+----------+------+-------+-------+-------+

In [ ]:
# group by calculate overall, we will not get all columns
# partition by , sum by row wise,rows are repeated

In [ ]:
# max for al
df = df.withColumn("all_max",max(col('salary')).over(w))
df.show()

+-------------+----------+------+-------+
|employee_name|department|salary|all_max|
+-------------+----------+------+-------+
|        Maria|   Finance|  3000|   3900|
|        Scott|   Finance|  3300|   3900|
|          Jen|   Finance|  3900|   3900|
|         Jeff| Marketing|  3000|   3000|
|        Kumar| Marketing|  2000|   3000|
|        James|     Sales|  3000|   4600|
|      Michael|     Sales|  4600|   4600|
|       Robert|     Sales|  4100|   4600|
|        James|     Sales|  3000|   4600|
|         Saif|     Sales|  4100|   4600|
+-------------+----------+------+-------+

In [ ]:
df = df.withColumn("all_min",min(col('salary')).over(w))
df.show()

+-------------+----------+------+-------+-------+
|employee_name|department|salary|all_max|all_min|
+-------------+----------+------+-------+-------+
|        Maria|   Finance|  3000|   3900|   3000|
|        Scott|   Finance|  3300|   3900|   3000|
|          Jen|   Finance|  3900|   3900|   3000|
|         Jeff| Marketing|  3000|   3000|   2000|
|        Kumar| Marketing|  2000|   3000|   2000|
|        James|     Sales|  3000|   4600|   3000|
|      Michael|     Sales|  4600|   4600|   3000|
|       Robert|     Sales|  4100|   4600|   3000|
|        James|     Sales|  3000|   4600|   3000|
|         Saif|     Sales|  4100|   4600|   3000|
+-------------+----------+------+-------+-------+

In [ ]:
df = df.withColumn("all_avg",avg(col('salary')).over(w))
df.show()

+-------------+----------+------+-------+-------+-------+-------+
|employee_name|department|salary|all_max|all_min|all_sum|all_avg|
+-------------+----------+------+-------+-------+-------+-------+
|        Maria|   Finance|  3000|   3900|   3000|  10200| 3400.0|
|        Scott|   Finance|  3300|   3900|   3000|  10200| 3400.0|
|          Jen|   Finance|  3900|   3900|   3000|  10200| 3400.0|
|         Jeff| Marketing|  3000|   3000|   2000|   5000| 2500.0|
|        Kumar| Marketing|  2000|   3000|   2000|   5000| 2500.0|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|
|      Michael|     Sales|  4600|   4600|   3000|  18800| 3760.0|
|       Robert|     Sales|  4100|   4600|   3000|  18800| 3760.0|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|
|         Saif|     Sales|  4100|   4600|   3000|  18800| 3760.0|
+-------------+----------+------+-------+-------+-------+-------+

In [ ]:
# it is window function used to give the seuential row number startting fr
# row number means, for each department, based on order it is assigning number
from pyspark.sql.functions import row_number
windowSpec = Window.partitionBy('department').orderBy('Salary')
res = df.withColumn("row_number",row_number().over(windowSpec))
res.show()

+-------------+----------+------+-------+-------+-------+-------+----------+
|employee_name|department|salary|all_max|all_min|all_sum|all_avg|row_number|
+-------------+----------+------+-------+-------+-------+-------+----------+
|        Maria|   Finance|  3000|   3900|   3000|  10200| 3400.0|         1|
|        Scott|   Finance|  3300|   3900|   3000|  10200| 3400.0|         2|
|          Jen|   Finance|  3900|   3900|   3000|  10200| 3400.0|         3|
|        Kumar| Marketing|  2000|   3000|   2000|   5000| 2500.0|         1|
|         Jeff| Marketing|  3000|   3000|   2000|   5000| 2500.0|         2|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|         1|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|         2|
|       Robert|     Sales|  4100|   4600|   3000|  18800| 3760.0|         3|
|         Saif|     Sales|  4100|   4600|   3000|  18800| 3760.0|         4|
|      Michael|     Sales|  4600|   4600|   3000|  18800| 3760.0|         5|
+-------------+----------+------+-------+-------+-------+-------+----------+

In [ ]:
# rank()
from pyspark.sql.functions import rank
res1 = df.withColumn('rank',rank().over(windowSpec))
res1.show()

+-------------+----------+------+-------+-------+-------+-------+----+
|employee_name|department|salary|all_max|all_min|all_sum|all_avg|rank|
+-------------+----------+------+-------+-------+-------+-------+----+
|        Maria|   Finance|  3000|   3900|   3000|  10200| 3400.0|   1|
|        Scott|   Finance|  3300|   3900|   3000|  10200| 3400.0|   2|
|          Jen|   Finance|  3900|   3900|   3000|  10200| 3400.0|   3|
|        Kumar| Marketing|  2000|   3000|   2000|   5000| 2500.0|   1|
|         Jeff| Marketing|  3000|   3000|   2000|   5000| 2500.0|   2|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|   1|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|   1|
|       Robert|     Sales|  4100|   4600|   3000|  18800| 3760.0|   3|
|         Saif|     Sales|  4100|   4600|   3000|  18800| 3760.0|   3|
|      Michael|     Sales|  4600|   4600|   3000|  18800| 3760.0|   5|
+-------------+----------+------+-------+-------+-------+-------+----+

In [ ]:
# rank will skip 1 rank for duplicates, but internally it has counted
# it will leaves gaps when there ties
# it provides a rank to the result within a window partition

In [ ]:
from pyspark.sql.functions import dense_rank
res3 =df.withColumn('dense_rank',dense_rank().over(windowSpec))
res3.show()

+-------------+----------+------+-------+-------+-------+-------+----------+
|employee_name|department|salary|all_max|all_min|all_sum|all_avg|dense_rank|
+-------------+----------+------+-------+-------+-------+-------+----------+
|        Maria|   Finance|  3000|   3900|   3000|  10200| 3400.0|         1|
|        Scott|   Finance|  3300|   3900|   3000|  10200| 3400.0|         2|
|          Jen|   Finance|  3900|   3900|   3000|  10200| 3400.0|         3|
|        Kumar| Marketing|  2000|   3000|   2000|   5000| 2500.0|         1|
|         Jeff| Marketing|  3000|   3000|   2000|   5000| 2500.0|         2|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|         1|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|         1|
|       Robert|     Sales|  4100|   4600|   3000|  18800| 3760.0|         2|
|         Saif|     Sales|  4100|   4600|   3000|  18800| 3760.0|         2|
|      Michael|     Sales|  4600|   4600|   3000|  18800| 3760.0|         3|
+-------------+----------+------+-------+-------+-------+-------+----------+

rank count internally, dense rank doesnot count internally. it will not show gaps.
dense_rank() window function is used to get the result without any gaps.

In [ ]:
from pyspark.sql.functions import lag
df.withColumn("lag",lag("salary",1).over(windowSpec)).show() # top to bottom

+-------------+----------+------+-------+-------+-------+-------+----+
|employee_name|department|salary|all_max|all_min|all_sum|all_avg| lag|
+-------------+----------+------+-------+-------+-------+-------+----+
|        Maria|   Finance|  3000|   3900|   3000|  10200| 3400.0|null|
|        Scott|   Finance|  3300|   3900|   3000|  10200| 3400.0|3000|
|          Jen|   Finance|  3900|   3900|   3000|  10200| 3400.0|3300|
|        Kumar| Marketing|  2000|   3000|   2000|   5000| 2500.0|null|
|         Jeff| Marketing|  3000|   3000|   2000|   5000| 2500.0|2000|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|null|
|        James|     Sales|  3000|   4600|   3000|  18800| 3760.0|3000|
|       Robert|     Sales|  4100|   4600|   3000|  18800| 3760.0|3000|
|         Saif|     Sales|  4100|   4600|   3000|  18800| 3760.0|4100|
|      Michael|     Sales|  4600|   4600|   3000|  18800| 3760.0|4100|
+-------------+----------+------+-------+-------+-------+-------+----+

In [ ]:
from pyspark.sql.functions import lead
df.withColumn("lead",lead("salary",1).over(windowSpec)).show() # bottom to top

+-------------+----------+------+----+
|employee_name|department|salary|lead|
+-------------+----------+------+----+
|        Maria|   Finance|  3000|3300|
|        Scott|   Finance|  3300|3900|
|          Jen|   Finance|  3900|null|
|        Kumar| Marketing|  2000|3000|
|         Jeff| Marketing|  3000|null|
|        James|     Sales|  3000|3000|
|        James|     Sales|  3000|4100|
|       Robert|     Sales|  4100|4100|
|         Saif|     Sales|  4100|4600|
|      Michael|     Sales|  4600|null|
+-------------+----------+------+----+

In [ ]:
from pyspark.sql import functions as f
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/content/Test_Date2.csv")
df.show()

+----------+---+------+---+
|      Date| id|Volume|Age|
+----------+---+------+---+
|08/26/2016|100|  90.7| 26|
|08/27/2016|101|  90.7| 26|
|08/26/2016|102|  90.7| 26|
|06/14/2016|103|  90.7| 26|
|06/19/2016|102|  90.7| 26|
|06/25/2016|104|  90.5| 27|
+----------+---+------+---+

In [ ]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- Volume: double (nullable = true)
 |-- Age: integer (nullable = true)

In [ ]:

df.printSchema()
modifiedDF = df.withColumn("Date", f.to_date(df.Date, "MM/dd/yyyy"))
modifiedDF = modifiedDF.withColumn("birth_year",f.year(modifiedDF.Date))
modifiedDF = modifiedDF.withColumn("birth_month",f.month(modifiedDF.Date))
modifiedDF = modifiedDF.withColumn("birth_date",f.dayofmonth(modifiedDF.Date))
modifiedDF = modifiedDF.withColumn("fivteen_days_later",f.date_add(modifiedDF.Date, 15))
modifiedDF = modifiedDF.withColumn("twentty_days_Before",f.date_add(modifiedDF.Date, -20))
#modifiedDF.show()
modifiedDF.show()
#modifiedDF.printSchema()
#modifiedDF.show()

In [ ]:
df1 = df.withColumn('Date',f.to_date(df.Date,"MM/dd/yyyy"))
df1.printSchema()

root
 |-- Date: date (nullable = true)
 |-- id: integer (nullable = true)
 |-- Volume: double (nullable = true)
 |-- Age: integer (nullable = true)

In [ ]:
df1 = df1.withColumn('birth_year',f.year(df1.Date))
df1.show()

+----------+---+------+---+----------+
|      Date| id|Volume|Age|birth_year|
+----------+---+------+---+----------+
|2016-08-26|100|  90.7| 26|      2016|
|2016-08-27|101|  90.7| 26|      2016|
|2016-08-26|102|  90.7| 26|      2016|
|2016-06-14|103|  90.7| 26|      2016|
|2016-06-19|102|  90.7| 26|      2016|
|2016-06-25|104|  90.5| 27|      2016|
+----------+---+------+---+----------+

In [ ]:
df1 = df1.withColumn('get_month',f.month(df1.Date))
df1.show()

+----------+---+------+---+----------+---------+
|      Date| id|Volume|Age|birth_year|get_month|
+----------+---+------+---+----------+---------+
|2016-08-26|100|  90.7| 26|      2016|        8|
|2016-08-27|101|  90.7| 26|      2016|        8|
|2016-08-26|102|  90.7| 26|      2016|        8|
|2016-06-14|103|  90.7| 26|      2016|        6|
|2016-06-19|102|  90.7| 26|      2016|        6|
|2016-06-25|104|  90.5| 27|      2016|        6|
+----------+---+------+---+----------+---------+

In [ ]:
df1 =df1.withColumn('get_date',f.dayofmonth(col("Date")))
df1.show()

+----------+---+------+---+----------+---------+--------+
|      Date| id|Volume|Age|birth_year|get_month|get_date|
+----------+---+------+---+----------+---------+--------+
|2016-08-26|100|  90.7| 26|      2016|        8|      26|
|2016-08-27|101|  90.7| 26|      2016|        8|      27|
|2016-08-26|102|  90.7| 26|      2016|        8|      26|
|2016-06-14|103|  90.7| 26|      2016|        6|      14|
|2016-06-19|102|  90.7| 26|      2016|        6|      19|
|2016-06-25|104|  90.5| 27|      2016|        6|      25|
+----------+---+------+---+----------+---------+--------+

In [ ]:
df1 =df1.withColumn("15 days later",f.date_add(col("Date"),15))
df1.show()

+----------+---+------+---+----------+---------+--------+-------------+
|      Date| id|Volume|Age|birth_year|get_month|get_date|15 days later|
+----------+---+------+---+----------+---------+--------+-------------+
|2016-08-26|100|  90.7| 26|      2016|        8|      26|   2016-09-10|
|2016-08-27|101|  90.7| 26|      2016|        8|      27|   2016-09-11|
|2016-08-26|102|  90.7| 26|      2016|        8|      26|   2016-09-10|
|2016-06-14|103|  90.7| 26|      2016|        6|      14|   2016-06-29|
|2016-06-19|102|  90.7| 26|      2016|        6|      19|   2016-07-04|
|2016-06-25|104|  90.5| 27|      2016|        6|      25|   2016-07-10|
+----------+---+------+---+----------+---------+--------+-------------+

In [ ]:
df1 =df1.withColumn("22 days back",f.date_sub(col("Date"),22))
df1.show()

+----------+---+------+---+----------+---------+--------+-------------+------------+----+------------+
|      Date| id|Volume|Age|birth_year|get_month|get_date|15 days later|20 days back|week|22 days back|
+----------+---+------+---+----------+---------+--------+-------------+------------+----+------------+
|2016-08-26|100|  90.7| 26|      2016|        8|      26|   2016-09-10|  2016-08-06|  34|  2016-08-04|
|2016-08-27|101|  90.7| 26|      2016|        8|      27|   2016-09-11|  2016-08-07|  34|  2016-08-05|
|2016-08-26|102|  90.7| 26|      2016|        8|      26|   2016-09-10|  2016-08-06|  34|  2016-08-04|
|2016-06-14|103|  90.7| 26|      2016|        6|      14|   2016-06-29|  2016-05-25|  24|  2016-05-23|
|2016-06-19|102|  90.7| 26|      2016|        6|      19|   2016-07-04|  2016-05-30|  24|  2016-05-28|
|2016-06-25|104|  90.5| 27|      2016|        6|      25|   2016-07-10|  2016-06-05|  25|  2016-06-03|
+----------+---+------+---+----------+---------+--------+-------------+------------+----+------------+

In [ ]:
df1 =df1.withColumn("20 days back",f.date_add(col("Date"),-20))
df1.show()

+----------+---+------+---+----------+---------+--------+-------------+------------+
|      Date| id|Volume|Age|birth_year|get_month|get_date|15 days later|20 days back|
+----------+---+------+---+----------+---------+--------+-------------+------------+
|2016-08-26|100|  90.7| 26|      2016|        8|      26|   2016-09-10|  2016-08-06|
|2016-08-27|101|  90.7| 26|      2016|        8|      27|   2016-09-11|  2016-08-07|
|2016-08-26|102|  90.7| 26|      2016|        8|      26|   2016-09-10|  2016-08-06|
|2016-06-14|103|  90.7| 26|      2016|        6|      14|   2016-06-29|  2016-05-25|
|2016-06-19|102|  90.7| 26|      2016|        6|      19|   2016-07-04|  2016-05-30|
|2016-06-25|104|  90.5| 27|      2016|        6|      25|   2016-07-10|  2016-06-05|
+----------+---+------+---+----------+---------+--------+-------------+------------+

In [ ]:
df1 =df1.withColumn('week',f.weekofyear(col("Date")))
df1.show()

+----------+---+------+---+----------+---------+--------+-------------+------------+----+
|      Date| id|Volume|Age|birth_year|get_month|get_date|15 days later|20 days back|week|
+----------+---+------+---+----------+---------+--------+-------------+------------+----+
|2016-08-26|100|  90.7| 26|      2016|        8|      26|   2016-09-10|  2016-08-06|  34|
|2016-08-27|101|  90.7| 26|      2016|        8|      27|   2016-09-11|  2016-08-07|  34|
|2016-08-26|102|  90.7| 26|      2016|        8|      26|   2016-09-10|  2016-08-06|  34|
|2016-06-14|103|  90.7| 26|      2016|        6|      14|   2016-06-29|  2016-05-25|  24|
|2016-06-19|102|  90.7| 26|      2016|        6|      19|   2016-07-04|  2016-05-30|  24|
|2016-06-25|104|  90.5| 27|      2016|        6|      25|   2016-07-10|  2016-06-05|  25|
+----------+---+------+---+----------+---------+--------+-------------+------------+----+

In [ ]:
df= spark.read.format("csv").option('header','true').option('inferschema','true').load('/content/Test_TimeStamp.csv')

In [ ]:
df.printSchema()

root
 |-- DateTime: timestamp (nullable = true)
 |-- id: double (nullable = true)
 |-- Volume: double (nullable = true)
 |-- Age: integer (nullable = true)

In [ ]:
df = df.withColumn('minute',f.minute(col("DateTime")))
df.show()

+-------------------+-----+------+----+------+
|           DateTime|   id|Volume| Age|minute|
+-------------------+-----+------+----+------+
|2017-08-02 03:04:00|100.0|  90.7|  26|     4|
|1999-07-05 01:45:20| 90.7|  26.0|null|    45|
|1998-08-06 01:35:20|102.0|  90.7|  26|    35|
|1997-09-07 01:25:19|103.0|  90.7|  26|    25|
|1996-03-03 01:15:18|102.0|  90.7|  26|    15|
|1995-09-05 01:05:17|104.0|  90.5|  27|     5|
+-------------------+-----+------+----+------+

In [ ]:
df = df.withColumn('second',f.second(col("DateTime")))
df.show()

+-------------------+-----+------+----+------+------+
|           DateTime|   id|Volume| Age|minute|second|
+-------------------+-----+------+----+------+------+
|2017-08-02 03:04:00|100.0|  90.7|  26|     4|     0|
|1999-07-05 01:45:20| 90.7|  26.0|null|    45|    20|
|1998-08-06 01:35:20|102.0|  90.7|  26|    35|    20|
|1997-09-07 01:25:19|103.0|  90.7|  26|    25|    19|
|1996-03-03 01:15:18|102.0|  90.7|  26|    15|    18|
|1995-09-05 01:05:17|104.0|  90.5|  27|     5|    17|
+-------------------+-----+------+----+------+------+

In [ ]:
df = df.withColumn('Quarter',f.quarter(col("DateTime")))
df.show()

+-------------------+-----+------+----+------+------+-------+
|           DateTime|   id|Volume| Age|minute|second|Quarter|
+-------------------+-----+------+----+------+------+-------+
|2017-08-02 03:04:00|100.0|  90.7|  26|     4|     0|      3|
|1999-07-05 01:45:20| 90.7|  26.0|null|    45|    20|      3|
|1998-08-06 01:35:20|102.0|  90.7|  26|    35|    20|      3|
|1997-09-07 01:25:19|103.0|  90.7|  26|    25|    19|      3|
|1996-03-03 01:15:18|102.0|  90.7|  26|    15|    18|      1|
|1995-09-05 01:05:17|104.0|  90.5|  27|     5|    17|      3|
+-------------------+-----+------+----+------+------+-------+

In [ ]:
df = df.withColumn('hour',f.hour(col("DateTime")))
df.show()

+-------------------+-----+------+----+------+------+-------+----+
|           DateTime|   id|Volume| Age|minute|second|Quarter|hour|
+-------------------+-----+------+----+------+------+-------+----+
|2017-08-02 03:04:00|100.0|  90.7|  26|     4|     0|      3|   3|
|1999-07-05 01:45:20| 90.7|  26.0|null|    45|    20|      3|   1|
|1998-08-06 01:35:20|102.0|  90.7|  26|    35|    20|      3|   1|
|1997-09-07 01:25:19|103.0|  90.7|  26|    25|    19|      3|   1|
|1996-03-03 01:15:18|102.0|  90.7|  26|    15|    18|      1|   1|
|1995-09-05 01:05:17|104.0|  90.5|  27|     5|    17|      3|   1|
+-------------------+-----+------+----+------+------+-------+----+

In [ ]:
df = df.withColumn('hours',f.hours(col("DateTime")))
df.show()

Py4JJavaError: ignored

In [ ]:
df = spark.read.option("header","true").option('inferschema','true').json("/content/first.json")
df.show()

+---+----+-------+
|age|  id|   name|
+---+----+-------+
| 25|1201| satish|
| 28|1202|krishna|
| 39|1203|  amith|
| 23|1204|  javed|
| 23|1205| prudvi|
+---+----+-------+

In [ ]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)

In [ ]:
df = spark.read.option("header","true").option('inferschema','true').option("multiline",'true').json("/content/test_multiLine.json")
df.show()

+---+---+------+
|age| id|  name|
+---+---+------+
| 21|  1|aakash|
+---+---+------+

In [ ]:
# set : any collection of element
# f.collect_list : collect list of rows
# f.collect.set9


df.show()
df.groupBy("department").agg(f.collect_list("salary"),f.collect_set("salary")).show(truncate=False)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

+----------+------------------------------+-------------------+
|department|collect_list(salary)          |collect_set(salary)|
+----------+------------------------------+-------------------+
|Sales     |[3000, 4600, 4100, 3000, 4100]|[4600, 3000, 4100] |
|Finance   |[3000, 3300, 3900]            |[3900, 3000, 3300] |
|Marketing |[3000, 2000]                  |[3000, 2000]       |
+----------+------------------------------+-------------------+